html,
body {
  height: 100%;
  max-width: 100%;

  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p,
span,
a {
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
