.aerobics__header {
  background-image: url(https://cdn.aarp.net/content/dam/aarp/health/healthy-living/2018/11/1140-man-woman-exercise-at-home.web.jpg);
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.aerobics__header--overlay,
.yoga__header--overlay,
.diet__header--overlay {
  position: relative;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 1;
  z-index: 2;
}

.aerobics__header--title,
.yoga__header--title,
.diet__header--title {
  position: relative;
  top: 80%;
  text-align: center;

  margin: auto;
  color: white;
}

.aerobics__header--subtitle {
  margin-bottom: 7%;
}

.source {
  cursor: pointer;
}
