header {
  height: 0px;
  width: 0px;

  padding: 0px;
  margin: 0px;
}

main {
  height: 100%;
  max-width: 455px;

  padding: 0px;
  margin: 0px;
}

.hero-image {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-image: url(/img/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  z-index: 1;

  /* position: relative; */

  border: red 1px solid;
}
