header {
  height: 0px;
  width: 95%;

  padding: 0px;
  margin: auto;
}

main {
  height: 100%;
  max-width: 455px;

  padding: 0px;
  margin: auto;
}

.hero-image {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-image: url(/img/hero-image.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 1;

  /* position: relative; */

  border: red 1px solid;
}

.content-grid {
  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: grid;
}
