.mentalMain {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.2fr;

  /* background-color: rgba(0, 0, 0, 0.5); */

  background-image: url(/img/hero-image.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mentalHeader {
  grid-row: 1/1;
  grid-column: 2/2;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  font-family: "Karla", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.75rem;
  text-transform: uppercase;
}

.email {
  grid-row: 2/2;
  grid-column: 2/2;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.email .mentalLabel {
  font-size: 1rem;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.email .mentalInput {
  height: 5vh;
  width: 80vw;
}

.subject {
  grid-row: 3/3;
  grid-column: 2/2;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subject .mentalLabel {
  font-size: 1rem;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subject .mentalSelect {
  height: 5vh;
  width: 80vw;
}

.subject .mentalSelect option {
  font-size: 1rem;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text {
  grid-row: 4/4;
  grid-column: 2/2;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text .mentalLabel {
  font-size: 1rem;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text .mentalText {
  width: 80vw;
  height: 40vh;

  border: 1px solid black;
}

.submit {
  grid-row: 5/5;
  grid-column: 2/2;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mentalSubmit {
  margin-top: 16px;
  height: 10vh;
  width: 80vw;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mentalSubmit:hover {
  background-color: blue;
  color: white;
}
