.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(27, 61, 105, 0.75);
  overflow-x: hidden;
  transition: 0.2s;
}

.navigation-overlay {
  position: relative;
  top: 25%;
  max-width: 445px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.overlay a:hover,
.overlay a:focus {
  color: #000000;
}

.overlay .closebtn {
  position: absolute;
  top: -25px;
  right: 0px;
  font-size: 60px;
}

.fa-bars {
  font-size: 2rem;
}

.fa-bars::before {
  z-index: 10;
  position: relative;
}
