.menu {
  position: relative;
}

.socialMain {
  width: 90%;
  margin: auto;
}

.socialGrid {
  display: grid;
  grid-template-areas:
    "social__header social__header"
    "social__games social__art"
    "social__hobbies social__forum";
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.socialGrid__header {
  grid-area: social__header;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 3px;
  font-family: "Karla", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin-top: 30px;
  text-transform: uppercase;
}

.socialGrid__games {
  grid-area: social__games;
  background-image: url(https://images.unsplash.com/photo-1581591546163-a6e9bf7ce12d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}

.socialGrid__art {
  grid-area: social__art;
  background-image: url(https://images.unsplash.com/photo-1460661419201-fd4cecdf8a8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80);
}

.socialGrid__hobbies {
  grid-area: social__hobbies;
  background-image: url(https://images.unsplash.com/photo-1570825249508-1165536981ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
}

.socialGrid__forums {
  grid-area: social__forum;
  background-image: url(https://images.unsplash.com/photo-1574547777892-5046c9dae4b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
}

.socialGrid__games,
.socialGrid__art,
.socialGrid__hobbies,
.socialGrid__forums {
  height: 200px;
  width: 100%;
  background-color: #78ffd6;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 2rem;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.social__overlay {
  position: relative;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.6),
    rgba(0, 0, 0, 0.5)
  );
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__items div {
  margin-bottom: 22px;
  position: relative;
}

.social__items div span {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  top: 40%;
}
