.tipsMain {
  width: 95%;
  margin: auto;
}
.tipsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.75rem;
}
.tipsH2 {
  font-size: 2rem;
}

.tipsMain p {
  font-size: 1.25rem;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
