.tipsMain {
  width: 95%;
  margin: auto;
}
.tipsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tipsH2 {
  font-size: 1rem;
}

.tipsMain p {
  font-size: 0.8rem;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
